{% load static %}
<link rel="stylesheet" href="{% static 'ml_site/style.css' %}" />
<nav class="navbar" id="navbar">
  <ul>
    {% if request.user.is_authenticated %}
    <li><a class="navbar-block" href="#" id="user-username">{{request.user.username}}</a></li>
    <li><a href="{% url 'home' %}" id="nav-home">Home</a></li>
    <li><a href="{% url 'upload_image' %}" id="nav-upload">Upload</a></li>
    <li><a href="{% url 'logout' %}" id="nav-logout">Logout</a></li>
    {% else %}
    <li><a href="{% url 'login' %}"  id="nav-logout">Login</a></li>
    {% endif %}
  </ul>
</nav>
